


params {
  reportdir = 'reports'
}

profiles {

  local {
    includeConfig 'conf/base.config'
  }
  lsf {
    includeConfig 'conf/base.config'
    includeConfig 'conf/lsf.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


singularity {
    autoMounts = true
    cacheDir = '/nfs/cellgeni/singularity/images/'
    enabled = true
}


timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}
trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}


