


params {
  reportdir = 'reports'
}

profiles {

  local {
    includeConfig 'conf/base.config'
    includeConfig 'conf/local.config'
  }
  lsf {
    includeConfig 'conf/base.config'
    includeConfig 'conf/lsf.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


singularity {
    autoMounts = true
    // cacheDir = '/the/cache/dir'
    // runOptions = '-B /some/path -B /some/other/path'
    enabled = true
}


timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
  overwite = true
}


