

process {

  cpus   =  1
  memory =  2.GB

  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'terminate'


  withName: prepare_cr {
    cpus = 1
    memory = 5.GB          // 20 on small test set
  }
  withName: prepare_mm {
    cpus = 4
    memory = 20.GB         // 20 on small test set
  }
  withName: demux           {               memory =  1.GB  }
  withName: make_big_matrix {               memory = 20.GB  }
  withName: mmtx_big_matrix {               memory = 10.GB }
  withName: filter_big_matrix { cpus = 2;   memory = 10.GB  }
  withName: do_the_clustering { cpus = 2;   memory = 50.GB }

  withName: clusters_index {                memory = 500.MB }
  withName: clusters_makebam {              memory =  4.GB }
  withName: 'clusters_macs2' { cpus = 2;    memory = 20.GB }

  withName: peaks_masterlist {              memory =  1.GB }
  withName: cells_masterlist_coverage {     memory =  1.GB }
  withName: 'make_peakmatrix' { cpus = 2;   memory = 20.GB }

}


