

process {

  cpus   =  1
  memory =  2.GB

  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'terminate'


  withName: genome_make_windows {
    memory = 1.GB
  }
  withName: posbam_prepare_info {
    memory = 2.GB
  }
  withName: cells_get_files {
    memory = 500.MB
  }
  withName: cells_window_coverage_P2 {
    memory = 2.GB
  }
  withName: clusters_index_P4 {
    memory = 500.MB
  }
  withName: clusters_makebam_P4 {
    memory = 4.GB
  }
  withName: peaks_masterlist {
    memory = 1.GB
  }
  withName: masterlist_cells_count {
    memory = 1.GB
  }

  withName: 'clusters_define_cusanovich2018_P3' {
    cpus = 2
    memory = 10.GB
    container = 'quay.io/cellgeni/cellclusterer'
    // singularity.runOptions = '-B /nfs/users/nfs_s/svd/git/cellgeni/cusanovichATAC'
  }

  withName: 'clusters_macs2_P4' {
    cpus = 2
    memory = 10.GB
    container = 'fooliu/macs2'
    // singularity.runOptions = '-B /nfs/users/nfs_s/svd/git/cellgeni/cusanovichATAC'
  }

}


