

process {

  cpus   =  1
  memory =  2.GB

  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'terminate'


  withName: prepare_cr_single {
    cpus = 1
    memory = 15.GB          // 20 on small test set
  }
  withName: prepare_cr_mux {
    cpus = 1
    memory = 15.GB          // 20 on small test set
  }
  withName: prepare_mm {
    cpus = 4
    memory = 20.GB         // 20 on small test set
  }
  withName: sample_demux    {               memory =   1.GB }
  withName: make_big_matrix {               memory =  20.GB }
  withName: mmtx_big_matrix {               memory =  10.GB }
  withName: make_sample_matrix {            memory =   5.GB }
  withName: join_sample_matrix {            memory =  50.GB }
  withName: filter_big_matrix { cpus = 2;   memory =  10.GB }
  withName: cusanovich_clustering { cpus = 2;   memory =  50.GB }
  withName: seurat_clustering     { cpus = 4;   memory =  50.GB }

  withName: clusters_index {                memory =   1.GB }
  withName: join_muxfiles  {                memory =   1.GB }
  withName: clusters_merge_inputs {         memory =   4.GB }
  withName: clusters_macs2 { cpus = 2;      memory =  20.GB }

  withName: peaks_make_masterlist {         memory =   1.GB }
  withName: cells_masterlist_coverage {     memory =   1.GB }
  withName: make_master_peakmatrix  { cpus = 2;   memory = 20.GB }
  withName: make_subset_peakmatrix  { cpus = 2;   memory = 10.GB }

}


