barcode	total	duplicate	chimeric	unmapped	lowmapq	mitochondrial	passed_filters	cell_id	is__cell_barcode	TSS_fragments	DNase_sensitive_region_fragments	enhancer_region_fragments	promoter_region_fragments	on_target_fragments	blacklist_region_fragments	peak_region_fragments	peak_region_cutsites
AAAAAAAAAAAAAAAA-1	0	0	0	0	0	0	0	None	1	0	0	0	0	0	0	0	0
